version: "3"
services:
  db:
    build:
      context: ./
      dockerfile: Dockerfile-db
  scrapper:
    build:
      context: ./
      dockerfile: Dockerfile-scrapper
    volumes:
      - ./scrapper:/scrapper/
    ports:
      - 8000:8000
    working_dir: /scrapper
    command: python manage.py runserver 0.0.0.0:8000
    user: 1000:1000
